<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <context id="learn" targetRuntime="MyBatis3Simple" defaultModelType="flat">

        <plugin type="org.mybatis.generator.plugins.SerializablePlugin" />


        <jdbcConnection driverClass="org.h2.Driver" connectionURL="jdbc:h2:tcp://localhost/~/test" userId="sa" password="sa"></jdbcConnection>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <javaModelGenerator targetPackage="org.bob.learn.client.dao.model" targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mybatis/mapper" targetProject="src/main/resources">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="org.bob.learn.client.dao.mapper" targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>

       <!-- <table tableName="gateway_share" domainObjectName="GatewayShare" mapperName="GatewayShareMapper" >
            <generatedKey column="id" sqlStatement="MySql" identity="true"/>
        </table>-->

       <!-- <table tableName="dm_device_nickname" domainObjectName="DeviceNickname" mapperName="DeviceNicknameMapper" >
            <generatedKey column="gid" sqlStatement="MySql" identity="true"/>
        </table>-->

       <!-- <table tableName="an_whitelist" domainObjectName="Whitelist" mapperName="WhitelistMapper" >
            <generatedKey column="wid" sqlStatement="MySql" identity="true"/>
        </table>

        <table tableName="an_blacklist" domainObjectName="Blacklist" mapperName="BlacklistMapper" >
            <generatedKey column="bid" sqlStatement="MySql" identity="true"/>
        </table>
        <table tableName="an_alarm_switch" domainObjectName="AlarmSwitch" mapperName="AlarmSwitchMapper" >
            <generatedKey column="aid" sqlStatement="MySql" identity="true"/>
        </table>
        <table tableName="an_statistics" domainObjectName="Statistics" mapperName="StatisticsMapper" >
            <generatedKey column="sid" sqlStatement="MySql" identity="true"/>
        </table>
        <table tableName="an_risk_record" domainObjectName="RiskRecord" mapperName="RiskRecordMapper" >
            <generatedKey column="rid" sqlStatement="MySql" identity="true"/>
        </table>
         <table tableName="an_alarm_switch" domainObjectName="AlarmSwitch" mapperName="AlarmSwitchMapper" >
            <generatedKey column="aid" sqlStatement="MySql" identity="true"/>
        </table>
         <table tableName="gateway_mac" domainObjectName="GatewayMac" mapperName="GatewayMacMapper" >
            <generatedKey column="gid" sqlStatement="MySql" identity="true"/>
        </table>
        <table tableName="gateway_mac" domainObjectName="GatewayMac" mapperName="GatewayMacMapper" >
            <generatedKey column="gid" sqlStatement="MySql" identity="true"/>
        </table>-->


        <table tableName="device_online" domainObjectName="DeviceOnline" mapperName="DeviceOnlineMapper" >
        </table>
    </context>
</generatorConfiguration>
